<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Checklist - InfoTrips</title>
      <meta name="description" content="Site informativo para viagens internacionais">
      <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
      <meta name="robots" content="pais, follow">
      <meta name="author" content="Eduardo Gimenes">
      <link rel="stylesheet" href="/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
      <link rel="icon" href="/img/roxo/logo_roxa.png">
    </head>

    <body>
        <section class="cabecalho_fixo">
            <header class="cabecalho">
                <a href="pais?nome_pais=<%=pais[0].nome_pais%>"><img src="/img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
                <a href="/" class="titulo_cabecalho"><img src="/img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
                <% if (foto_usuario.length > 0) { %>
                    <a href="/perfil"><img src="/uploads/<%= foto_usuario[0].nome_foto %>" alt="Botão perfil" class="botao_cabecalho foto_perfil_cabecalho"></a>
                <% } else { %>
                    <a href="/perfil"><img src="/img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
                <% } %>
            </header>

            <div class="cabecalho_pais">
                <div class="nome_pais_cabecalho_pais">
                    <h2 class="nome_pais"><%=pais[0].nome_pais %></h2>
        
                    <% if (usuario.length > 0) { %>
                        <form method="POST" action="/atualizar/favoritos" class="formulario_checklist formulario_favorito">
                            <input type="text" name="nome_tela" class="campo_formulario campo_formulario_invisivel" value="/checklist" placeholder="Nome da tela" maxlength="70" readonly required>
                            <input type="text" name="nome_pais" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].nome_pais %>" placeholder="Nome do país" maxlength="70" readonly required>
                            <input type="number" name="id_favorito" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].id_favorito %>" readonly required>
                            <% if (pais[0].isfavorite_favorito == 1) { %>
                                <input type="image" src="/img/branco/icone_favorito_branco.svg" class="botao_cabecalho">
                            <% } else { %>
                                <input type="image" src="/img/branco/icone_nao_favorito_branco.svg" class="botao_cabecalho">
                            <% } %>
                        </form>
                    <% } %>
                </div>
                
                <div class="abas_pais">
                    <a href="pais?nome_pais=<%=pais[0].nome_pais%>" class="aba_pais">Informações</a>
                    <a href="checklist?nome_pais=<%=pais[0].nome_pais%>" class="aba_pais aba_atual_pais">Checklist</a>
                </div>
            </div>
        </section>

        <section class="secao_pais">
            <% for (var i=0; i<checklist.length; i++) { %>
                <div id="<%= checklist[i].id_checklist %>" class="fundo_bloco_detalhe fundo_bloco_detalhe_invisivel">
                    <div class="bloco_informacao bloco_detalhe">
                        <div class="cabecalho_bloco_informacao_expansivel">
                            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel"><%= checklist[i].nome_exigencia %></h3>
                            <img src="/img/roxo/icone_x_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_bloco_detalhe('<%= checklist[i].id_checklist %>')">
                        </div>
                        <p class="texto texto_bloco_informacao texto_bloco_detalhe_checklist"><%= checklist[i].descricao_exigencia %></p>
                    </div>
                </div>

                <% if (checklist[i].isactive_checklist == 1) { %>
                    <% if (checklist[i].isdone_checklist == 1) { %>
                        <div class="bloco_informacao bloco_informacao_checkbox bloco_informacao_checked">
                    <% } else { %>
                        <div class="bloco_informacao bloco_informacao_checkbox">
                    <% } %>       
                        <form method="POST" action="/atualizar/checklist" class="formulario_checklist">
                            <input type="text" name="nome_pais" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].nome_pais %>" placeholder="Nome do país" maxlength="70" readonly required>
                            <input type="number" name="id_checklist" class="campo_formulario campo_formulario_invisivel" value="<%= checklist[i].id_checklist %>" readonly required>
                            <% if (checklist[i].isdone_checklist == 1) { %>
                                <input type="image" src="/img/roxo/icone_checklist_redondo_marcado_roxo.svg" class="botao_cabecalho">
                            <% } else { %>
                                <input type="image" src="/img/roxo/icone_checklist_redondo_nao_marcado_roxo.svg" class="botao_cabecalho">
                            <% } %>
                        </form>

                        <p class="texto texto_bloco_informacao"><%= checklist[i].nome_exigencia %></p>

                        <% if (checklist[i].isrequired_exigencia != 1) { %>
                            <form method="POST" action="/ativacao/checklist" class="formulario_toggle">
                                <input type="text" name="nome_pais" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].nome_pais %>" placeholder="Nome do país" maxlength="70" readonly required>
                                <input type="number" name="id_checklist" class="campo_formulario campo_formulario_invisivel" value="<%= checklist[i].id_checklist %>" readonly required>
                                <input type="image" src="/img/roxo/icone_toggle_ligado_roxo.svg" class="botao_toggle">
                            </form>
                        <% } %>

                        <img src="/img/roxo/icone_info_roxo.svg" alt="Botão ver mais" class="botao_cabecalho" onclick="abrir_bloco_detalhe('<%= checklist[i].id_checklist %>')">
                    </div>
                <% } else { %>  
                    <div class="bloco_informacao bloco_informacao_checkbox bloco_informacao_desativado">
                        <div class="formulario_checklist">
                            <% if (checklist[i].isdone_checklist == 1) { %>
                                <input type="image" src="/img/roxo/icone_checklist_redondo_marcado_desativado_roxo.svg" class="botao_cabecalho botao_desativado" readonly>
                            <% } else { %>
                                <input type="image" src="/img/roxo/icone_checklist_redondo_nao_marcado_desativado_roxo.svg" class="botao_cabecalho botao_desativado" readonly>
                            <% } %>
                        </div>

                        <p class="texto texto_bloco_informacao"><%= checklist[i].nome_exigencia %></p>

                        <% if (checklist[i].isrequired_exigencia != 1) { %>
                            <form method="POST" action="/ativacao/checklist" class="formulario_toggle">
                                <input type="text" name="nome_pais" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].nome_pais %>" placeholder="Nome do país" maxlength="70" readonly required>
                                <input type="number" name="id_checklist" class="campo_formulario campo_formulario_invisivel" value="<%= checklist[i].id_checklist %>" readonly required>
                                <input type="image" src="/img/roxo/icone_toggle_nao_ligado_roxo.svg" class="botao_toggle">
                            </form>
                        <% } %>

                        <img src="/img/roxo/icone_info_desativado_roxo.svg" alt="Botão ver mais" class="botao_cabecalho botao_desativado">
                    </div>
                <% } %>
                    
                        
                
            <% } %>    
        </section>
        
    </body>
    <script type="text/javascript" src="/js/main.js"></script>
</html>