<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pais - InfoTrips</title>
      <meta name="description" content="Site informativo para viagens internacionais">
      <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
      <meta name="robots" content="pais, follow">
      <meta name="author" content="Eduardo Gimenes">
      <link rel="stylesheet" href="/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
      <link rel="icon" href="/img/roxo/logo_roxa.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
      <section class="cabecalho_fixo">
        <header class="cabecalho">
          <a href="/busca"><img src="/img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
          <a href="/" class="titulo_cabecalho"><img src="/img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
          <% if (foto_usuario.length > 0) { %>
            <a href="/perfil"><img src="/uploads/<%= foto_usuario[0].nome_foto %>" alt="Botão perfil" class="botao_cabecalho foto_perfil_cabecalho"></a>
          <% } else { %>
            <a href="/perfil"><img src="/img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
          <% } %>
        </header>

        <div class="cabecalho_pais">
          <div class="nome_pais_cabecalho_pais">  
            <h2 class="nome_pais"><%=pais[0].nome_pais %></h2>

            <% if (usuario.length > 0) { %>
              <form method="POST" action="/atualizar/favoritos" class="formulario_checklist formulario_favorito">
                <input type="text" name="nome_tela" class="campo_formulario campo_formulario_invisivel" value="/pais" placeholder="Nome da tela" maxlength="70" readonly required>
                <input type="text" name="nome_pais" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].nome_pais %>" placeholder="Nome do país" maxlength="70" readonly required>
                <input type="number" name="id_favorito" class="campo_formulario campo_formulario_invisivel" value="<%= pais[0].id_favorito %>" readonly required>
                <% if (pais[0].isfavorite_favorito == 1) { %>
                    <input type="image" src="/img/branco/icone_favorito_branco.svg" class="botao_cabecalho">
                <% } else { %>
                    <input type="image" src="/img/branco/icone_nao_favorito_branco.svg" class="botao_cabecalho">
                <% } %>
              </form>
            <% } %>
          </div>
          
          <div class="abas_pais">
            <a href="pais?nome_pais=<%=pais[0].nome_pais%>" class="aba_pais aba_atual_pais">Informações</a>
            <a href="checklist?nome_pais=<%=pais[0].nome_pais%>" class="aba_pais">Checklist</a>
          </div>
        </div>
      </section>

      <% if (validacao.length > 0) { %>
        <div id="mensagem_checklist_fazer_login" class="fundo_bloco_detalhe">
          <div class="bloco_informacao bloco_detalhe">
            <p class="texto texto_detalhe"><%= validacao %></p>
            <a href="/login" class="botao">Login</a>
            <a href="javascript:window.history.go(-1)" class="botao">Fechar</a>
          </div>
        </div>
      <% } %>

      <% if (pais[0].nome_pais === 'Estados Unidos da América') { %>
	      <section class="secao_pais secao_pais_cabecalho_maior">
      <% } else { %>
        <section class="secao_pais">
      <% } %>
        <div class="bloco_informacao">
          <h3 class="titulo_bloco_informacao">Informações Turísticas</h3>
          <a class="texto texto_bloco_informacao link_bloco_informacao" target="_blank" href="<%=pais[0].informacoes_turisticas_pais %>"><%=pais[0].informacoes_turisticas_pais %></a>
        </div>

        <div class="bloco_informacao">
          <h3 class="titulo_bloco_informacao">Língua(s)</h3>
          <% for (var i=0; i<linguas_pais.length; i++) { %>
            <p class="texto texto_bloco_informacao"><%=linguas_pais[i].nome_lingua %></p>
          <% } %>
        </div>

        <div class="bloco_informacao">
          <h3 class="titulo_bloco_informacao">Moeda(s)</h3>
          <% for (var i=0; i<moedas_pais.length; i++) { %>
            <p class="texto texto_bloco_informacao"><%=moedas_pais[i].nome_moeda %></p>
          <% } %>
        </div>

        <div id="bloco_informacao_fusohorarios" class="bloco_informacao bloco_informacao_expansivel" onclick="abrir_secao_informacao('bloco_informacao_fusohorarios', 'secao_fusohorarios')">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Fuso horários</h3>
            <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
          </div>
          <p class="texto texto_bloco_informacao">Clique para conhecer o(s) fuso horário(s) desse país</p>
        </div>

        <div id="secao_fusohorarios" class="bloco_informacao bloco_informacao_invisivel secao_expansivel">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Fuso horários</h3>
            <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_informacao('bloco_informacao_fusohorarios', 'secao_fusohorarios')">
          </div>
          <% for (var i=0; i<fusohorarios_pais.length; i++) { %>
            <div class="dados_expandidos">
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Fuso horário:</span> <%=fusohorarios_pais[i].descricao_fusohorario %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Região:</span> <%=fusohorarios_pais[i].regiao_fusohorario_pais %></p>
            </div>
          <% } %>
        </div>

        <% for (var i=0; i<exigencias_pais.length; i++) { %>
          <% if (exigencias_pais[i].nome_exigencia === 'Visto' && vistos_pais.length > 0) { %>
            <div id="bloco_informacao_visto" class="bloco_informacao bloco_informacao_expansivel" onclick="abrir_secao_informacao('bloco_informacao_visto', 'secao_visto')">
              <div class="cabecalho_bloco_informacao_expansivel">
                <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel"><%=exigencias_pais[i].nome_exigencia %></h3>
                <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
              </div>
              <p class="texto texto_bloco_informacao"><%=exigencias_pais[i].descricao_exigencia %></p>
              <p class="texto texto_bloco_informacao">Clique para conhecer o(s) visto(s) desse país</p>
            </div>

            <div id="secao_visto" class="bloco_informacao bloco_informacao_invisivel secao_expansivel">
              <div class="cabecalho_bloco_informacao_expansivel">
                <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Visto(s)</h3>
                <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_informacao('bloco_informacao_visto', 'secao_visto')">
              </div>
              <% for (var i=0; i<vistos_pais.length; i++) { %>
                <div class="dados_expandidos">
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Nome do visto:</span> <%=vistos_pais[i].nome_visto %></p>
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Finalidade do visto:</span> <%=vistos_pais[i].finalidade_visto %></p>
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Tempo de permanência:</span> <%=vistos_pais[i].tempo_permanencia_visto %></p>
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Taxa de solicitação:</span> <%=vistos_pais[i].taxa_solicitacao_visto %></p>
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Taxa adicional:</span> <%=vistos_pais[i].taxa_adicional_visto %></p>
                </div>
              <% } %>
            </div>
          <% } else { %>
            <div class="bloco_informacao">
              <h3 class="titulo_bloco_informacao"><%=exigencias_pais[i].nome_exigencia %></h3>
              <p class="texto texto_bloco_informacao"><%=exigencias_pais[i].descricao_exigencia %></p>
            </div>
          <% } %>
        <% } %>

        <% for (var i=0; i<embaixada_brasil.length; i++) { %>
            <div class="bloco_informacao">
              <h3 class="titulo_bloco_informacao">Embaixada do Brasil no país</h3>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=embaixada_brasil[i].endereco_embaixada %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=embaixada_brasil[i].telefone_embaixada %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=embaixada_brasil[i].email_embaixada %></p>
            </div>
          <% } %>
  
          <% for (var i=0; i<embaixada_pais.length; i++) { %>
            <div class="bloco_informacao">
              <h3 class="titulo_bloco_informacao">Embaixada do país no Brasil</h3>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=embaixada_pais[i].endereco_embaixada %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=embaixada_pais[i].telefone_embaixada %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=embaixada_pais[i].email_embaixada %></p>
            </div>
          <% } %>
        
        <div id="bloco_informacao_consulados_brasil" class="bloco_informacao bloco_informacao_expansivel" onclick="abrir_secao_informacao('bloco_informacao_consulados_brasil', 'secao_consulados_brasil')">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Consulados do Brasil no país</h3>
            <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
          </div>
          <p class="texto texto_bloco_informacao">Clique para conhecer o(s) consulado(s) do Brasil nesse país</p>
        </div>

        <div id="secao_consulados_brasil" class="bloco_informacao bloco_informacao_invisivel secao_expansivel">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Consulados do Brasil no país</h3>
            <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_informacao('bloco_informacao_consulados_brasil', 'secao_consulados_brasil')">
          </div>
          <% for (var i=0; i<consulados_brasil.length; i++) { %>
            <div class="dados_expandidos">
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=consulados_brasil[i].endereco_consulado %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=consulados_brasil[i].telefone_consulado %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=consulados_brasil[i].email_consulado %></p>
            </div>
          <% } %>
        </div>

        <div id="bloco_informacao_consulados_pais" class="bloco_informacao bloco_informacao_expansivel" onclick="abrir_secao_informacao('bloco_informacao_consulados_pais', 'secao_consulados_pais')">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Consulados do país no Brasil</h3>
            <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
          </div>
          <p class="texto texto_bloco_informacao">Clique para conhecer o(s) consulado(s) desse país no Brasil</p>
        </div>

        <div id="secao_consulados_pais" class="bloco_informacao bloco_informacao_invisivel secao_expansivel">
          <div class="cabecalho_bloco_informacao_expansivel">
            <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Consulados do país no Brasil</h3>
            <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_informacao('bloco_informacao_consulados_pais', 'secao_consulados_pais')">
          </div>
          <% for (var i=0; i<consulados_pais.length; i++) { %>
            <div class="dados_expandidos">
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=consulados_pais[i].endereco_consulado %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=consulados_pais[i].telefone_consulado %></p>
              <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=consulados_pais[i].email_consulado %></p>
            </div>
          <% } %>
        </div>

        <% if (alertas_pais.length > 0) { %>
          <div id="bloco_informacao_alertas_pais" class="bloco_informacao bloco_informacao_expansivel" onclick="abrir_secao_informacao('bloco_informacao_alertas_pais', 'secao_alertas_pais')">
            <div class="cabecalho_bloco_informacao_expansivel">
              <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Alertas para esse país</h3>
              <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
            </div>
            <p class="texto texto_bloco_informacao">Clique para conhecer o(s) alerta(s) para esse país</p>
          </div>
      
          <div id="secao_alertas_pais" class="bloco_informacao bloco_informacao_invisivel secao_expansivel">
            <div class="cabecalho_bloco_informacao_expansivel">
              <h3 class="titulo_bloco_informacao titulo_bloco_informacao_expansivel">Alertas para esse país</h3>
              <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_informacao('bloco_informacao_alertas_pais', 'secao_alertas_pais')">
            </div>
            <% for (var i=0; i<alertas_pais.length; i++) { %>
              <div class="dados_expandidos">
                <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Título:</span> <%=alertas_pais[i].titulo_alerta %></p>
                <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Data:</span> <%=alertas_pais[i].data_alerta %></p>
                <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Descrição:</span> <%=alertas_pais[i].descricao_alerta %></p>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao">Alertas para esse país</h3>
            <p class="texto texto_bloco_informacao">Não há alertas para esse país</p>
          </div>
        <% } %>
      </section>
      
      <img src="img/roxo/icone_drop_up_redondo_roxo.svg" alt="Botão voltar ao topo" id="botao_voltar_topo" class="botao_cabecalho botao_voltar_topo">

    </body>
    <script type="text/javascript" src="/js/main.js"></script>
    
    <!-- Botão voltar ao topo -->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#botao_voltar_topo').fadeIn();
          } else {
            $('#botao_voltar_topo').fadeOut();
          }
        });

        $('#botao_voltar_topo').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 800);
          return false;
        });
      });
    </script>
</html>