<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pais - InfoTrips</title>
      <meta name="description" content="Site informativo para viagens internacionais">
      <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
      <meta name="robots" content="pais, follow">
      <meta name="author" content="Eduardo Gimenes">
      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
      <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>

    <body>
      <header class="cabecalho">
        <a href="javascript:window.history.go(-1)"><img src="img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
        <a href="/" class="titulo_cabecalho"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
        <a href="/login"><img src="img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
      </header>

      <div class="cabecalho_pais">
		    <h2 class="nome_pais"><%=pais[0].nome_pais %></h2>

		    <div class="abas_pais">
			    <button id="aba_informacoes" class="aba_pais aba_atual_pais" onclick="mudar_aba('aba_checklist', 'aba_informacoes', 'secao_checklist', 'secao_informacoes')">Informações</button>
		  	  <button id="aba_checklist" class="aba_pais" onclick="mudar_aba('aba_informacoes', 'aba_checklist', 'secao_informacoes', 'secao_checklist')">Checklist</button>
		    </div>
	    </div>

	    <section id="secao_informacoes" class="secao_pais">
        <div class="bloco_informacao">
          <h3 class="titulo_bloco_informacao">Informações Turísticas</h3>
          <p class="texto texto_bloco_informacao"><%=pais[0].informacoes_turisticas_pais %></p>
        </div>

        <% for (var i=0; i<exigencias.length; i++) { %>
          <% if (exigencias[i].nome_exigencia === 'Visto' && vistos_pais.length > 0) { %>
            <div id="bloco_informacao_visto" class="bloco_informacao" onclick="abrir_secao_visto()">
              <div class="cabecalho_bloco_informacao_visto">
                <h3 class="titulo_bloco_informacao titulo_bloco_informacao_visto"><%=exigencias[i].nome_exigencia %></h3>
                <img src="img/roxo/icone_expandir_roxo.svg" alt="Botão expandir" class="botao_cabecalho">
              </div>
              <p class="texto texto_bloco_informacao"><%=exigencias[i].descricao_exigencia %></p>
              <p class="texto texto_bloco_informacao">Clique para conhecer o(s) visto(s) desse país</p>
            </div>

            <div id="secao_visto" class="bloco_informacao bloco_informacao_invisivel">
              <div class="cabecalho_bloco_informacao_visto">
                <h3 class="titulo_bloco_informacao titulo_bloco_informacao_visto">Visto(s)</h3>
                <img src="img/roxo/icone_desfazer_expansao_roxo.svg" alt="Botão desfazer expansão" class="botao_cabecalho" onclick="fechar_secao_visto()">
              </div>
              <% for (var i=0; i<vistos_pais.length; i++) { %>
                <div class="dados_visto">
                  <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Nome:</span> <%=vistos_pais[i].nome_visto %></p>
                </div>
              <% } %>
            </div>
          <% } else { %>
            <div class="bloco_informacao">
              <h3 class="titulo_bloco_informacao"><%=exigencias[i].nome_exigencia %></h3>
              <p class="texto texto_bloco_informacao"><%=exigencias[i].descricao_exigencia %></p>
            </div>
          <% } %>
        <% } %>
        

        <% for (var i=0; i<embaixada_brasil.length; i++) { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao">Embaixada do Brasil no país</h3>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=embaixada_brasil[i].endereco_embaixada %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=embaixada_brasil[i].telefone_embaixada %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=embaixada_brasil[i].email_embaixada %></p>
          </div>
        <% } %>

        <% for (var i=0; i<embaixada_pais.length; i++) { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao">Embaixada do país no Brasil</h3>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=embaixada_pais[i].endereco_embaixada %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=embaixada_pais[i].telefone_embaixada %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=embaixada_pais[i].email_embaixada %></p>
          </div>
        <% } %>

        <% for (var i=0; i<consulados_brasil.length; i++) { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao">Consulado do Brasil no país</h3>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=consulados_brasil[i].endereco_consulado %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=consulados_brasil[i].telefone_consulado %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=consulados_brasil[i].email_consulado %></p>
          </div>
        <% } %>

        <% for (var i=0; i<consulados_pais.length; i++) { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao">Consulado do país no Brasil</h3>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Endereço:</span> <%=consulados_pais[i].endereco_consulado %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">Telefone:</span> <%=consulados_pais[i].telefone_consulado %></p>
            <p class="texto texto_bloco_informacao"><span class="texto texto_bloco_informacao texto_destaque">E-mail:</span> <%=consulados_pais[i].email_consulado %></p>
          </div>
        <% } %>

	    </section>

	    <section id="secao_checklist" class="secao_pais secao_invisivel_pais">
		    <p>Checklist</p>
	    </section>

    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>